.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #001641;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  background-color: #001641;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.stopwatch {
  flex: 1;
}

.stopwatch > h1 {
  color: rgb(177, 177, 177);
  font-size: 3em;
}

.stopwatch > button {
  background-color: rgb(27, 214, 105);
  padding: 10px;
  width: 8rem;
  height: 8rem;
  border-radius: 10rem;
  outline: none;
  user-select: none;
  border: none;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.4);
}

.stopwatch > button:hover {
  background-color: rgb(22, 187, 91);
  cursor: pointer;
  border: 3px solid rgb(218, 216, 216);;
}